openapi: 3.1.0
info:
  contact:
    email: info@revkeen.com
    name: RevKeen Support
    url: https://docs.revkeen.com
  description: |
    RevKeen is a fintech-grade API for payments, subscriptions, invoices, and billing. The canonical production MCP server is available at `https://mcp.revkeen.com/mcp`.

    **API Version:** `2026-01-15` — Pin with the `RevKeen-Version` header.

    **Quick Links:** [Full Documentation](https://docs.revkeen.com) | [Authentication](https://docs.revkeen.com/authentication) | [OAuth](https://docs.revkeen.com/oauth) | [SDKs](https://docs.revkeen.com/sdks) | [Webhooks](#webhooks) | [MCP Guide](https://docs.revkeen.com/mcp)

    ## Authentication

    Two authentication methods are supported:

    ### API Keys (recommended for server-to-server REST API integrations)

    Send your API key in the `x-api-key` header. Get keys from the [Dashboard](https://app.revkeen.com/settings/api-keys). Use `rk_sandbox_*` for test mode and `rk_live_*` for production.

    ### OAuth 2.1 (recommended for MCP and third-party integrations)

    Use OAuth 2.1 with PKCE for authorization code flow or client credentials for server-to-server. Tokens are sent via `Authorization: Bearer rk_oauth_*`. See the [OAuth guide](https://docs.revkeen.com/oauth) for setup.

    - **Authorization Code + PKCE** — user-facing integrations, MCP hosts
    - **Client Credentials** — server-to-server, automated workflows
    - **Dynamic Client Registration** — MCP hosts that auto-register

    ## MCP Integration

    RevKeen's canonical production MCP server is `https://mcp.revkeen.com/mcp` using Streamable HTTP and OAuth 2.1 bearer tokens.

    - **Customer launch surface** — read-first customer v1 tools with least-privilege scopes
    - **Host setup guide** — see the [MCP guide](https://docs.revkeen.com/mcp) for ChatGPT, Claude, and compatible MCP hosts

    ## API Key Scopes

    Scopes follow `{resource}:{action}` format (e.g., `invoices:read`, `customers:*`). See [full scope reference](https://docs.revkeen.com/authentication#scopes).

    | Category | Scope | Description |
    |----------|-------|-------------|
    | **Payments & Checkout** | `checkout:read` | View checkout session details |
    |  | `checkout:write` | Create and manage checkout sessions |
    |  | `payment_links:read` | View payment links |
    |  | `payment_links:write` | Create and manage payment links |
    |  | `charges:read` | View one-time charges |
    |  | `charges:write` | Create one-time charges for customers |
    |  | `payments:read` | View payment details |
    |  | `payments:write` | Capture or void payments |
    |  | `payment_intents:read` | View payment intent details |
    |  | `payment_intents:write` | Create, confirm, capture, and cancel payment intents |
    |  | `setup_intents:read` | View setup intent details |
    |  | `setup_intents:write` | Create, confirm, and cancel setup intents |
    |  | `payment_methods:read` | View saved payment methods |
    |  | `payment_methods:write` | Attach and detach payment methods |
    | **Billing** | `invoices:read` | View invoices |
    |  | `invoices:write` | Create, update, and manage invoices |
    |  | `subscriptions:read` | View subscriptions |
    |  | `subscriptions:write` | Create, update, pause, and cancel subscriptions |
    |  | `subscription_schedules:read` | View subscription schedule details |
    |  | `subscription_schedules:write` | Create, update, cancel, and release subscription schedules |
    |  | `orders:read` | View orders |
    |  | `orders:write` | Create and manage orders |
    |  | `credit_notes:read` | View credit notes |
    |  | `credit_notes:write` | Create and void credit notes |
    | **Products & Pricing** | `products:read` | View product catalog |
    |  | `products:write` | Create and update products |
    |  | `prices:read` | View pricing information |
    |  | `prices:write` | Create and update prices |
    |  | `discounts:read` | View discount codes |
    |  | `discounts:write` | Create and manage discount codes |
    |  | `tax_rates:read` | View tax rate configurations |
    |  | `tax_rates:write` | Configure tax rates |
    | **Usage & Metering** | `meters:read` | View meter configurations |
    |  | `meters:write` | Create and update meters |
    |  | `usage:read` | View usage events and balances |
    |  | `usage:write` | Ingest usage events |
    | **Customers** | `customers:read` | View customer information |
    |  | `customers:write` | Create and update customers |
    |  | `businesses:read` | View business entities |
    |  | `businesses:write` | Manage business entities |
    | **Money Movement** | `refunds:read` | View refund details |
    |  | `refunds:write` | Issue refunds |
    |  | `voids:read` | View voided transactions |
    |  | `voids:write` | Void unsettled transactions |
    |  | `disputes:read` | View chargebacks and disputes |
    |  | `disputes:write` | Respond to disputes |
    |  | `payouts:read` | View payout and settlement data |
    | **Terminal** | `terminal:read` | View terminal devices and card-present payments |
    |  | `terminal:write` | Initiate, cancel, refund, and void terminal payments |
    | **Data Exchange** | `exports:read` | View and download data exports |
    |  | `exports:write` | Create data exports |
    |  | `imports:read` | View import status and history |
    |  | `imports:write` | Upload and run data imports |
    | **Analytics & Reporting** | `analytics:read` | View analytics and reports |
    |  | `finance:read` | View financial reports |
    | **Communication** | `comms:read` | View SMS and email delivery logs |
    |  | `comms:write` | Send SMS, email, and WhatsApp messages |
    | **Integrations** | `apps:read` | View connected applications |
    |  | `apps:write` | Manage app connections |
    |  | `webhooks:read` | View webhook endpoints |
    |  | `webhooks:write` | Manage webhook endpoints |
    |  | `integrations:read` | View integration status and sync logs |
    |  | `integrations:write` | Activate, configure, and sync integrations |
    |  | `events:read` | View webhook event logs |
    |  | `events:write` | Resend and test webhook events |
    |  | `sync:read` | View sync watermarks and state |
    |  | `sync:write` | Update sync watermarks |

    ## Environments

    | Environment | Base URL | API Key Prefix |
    |-------------|----------|----------------|
    | **Sandbox** | `https://sandbox-api.revkeen.com/v2` | `rk_sandbox_*` |
    | **Production** | `https://api.revkeen.com/v2` | `rk_live_*` |

    ## Idempotency

    Include `Idempotency-Key` header (UUID) on mutation requests. Keys are valid for 24 hours.

    ## Rate Limits

    | Plan | Requests/min | Burst |
    |------|-------------|-------|
    | **Sandbox** | 100 | 200 |
    | **Production** | 1000 | 2000 |
    | **Enterprise** | Custom | Custom |
  license:
    name: Proprietary
    url: https://revkeen.com/terms
  title: RevKeen API
  version: 2026-01-15
  x-logo:
    url: https://revkeen.com/logo.svg
    altText: RevKeen
  x-scalar-sdk-installation:
  - lang: TypeScript
    description: "Install the official [TypeScript SDK](https://www.npmjs.com/package/@revkeen/sdk)\
      \ from npm."
    source: npm install @revkeen/sdk
  - lang: Go
    description: "Install the official [Go SDK](https://pkg.go.dev/github.com/revkeen/revkeen-go)\
      \ via go get."
    source: go get github.com/revkeen/revkeen-go
  - lang: PHP
    description: "Install the official [PHP SDK](https://packagist.org/packages/revkeen/sdk-php)\
      \ from Packagist."
    source: composer require revkeen/sdk-php
servers:
- description: Sandbox - Test Mode (no real charges)
  url: https://sandbox-api.revkeen.com/v2
- description: Production - Live Mode
  url: https://api.revkeen.com/v2
- description: Local Development
  url: http://localhost:3001/v2
- description: Mock Server - State machine simulation for testing
  url: http://localhost:4010/v2
security:
- apiKey: []
- oauth2: []
tags:
- description: |-
    Payment Intents represent the intent to collect payment. They support 3DS/SCA authentication, manual capture, and provide a client secret for frontend confirmation.

    **Required Scopes:**
    - `payment_intents:read` - List and retrieve payment intents
    - `payment_intents:write` - Create, confirm, capture, cancel payment intents

    **MCP Tools:** `payments_list`, `payments_get`, `payments_capture`
  name: Payment Intents
  x-displayName: Payment Intents
- description: |-
    Setup Intents save payment methods WITHOUT charging. Use them to collect card details for future use (subscriptions, saved cards) or to verify cards with 3DS/SCA before storing.

    **Required Scopes:**
    - `setup_intents:read` - List and retrieve setup intents
    - `setup_intents:write` - Create, confirm, cancel setup intents

    **MCP Tools:** Available via `customers_*` tools
  name: Setup Intents
  x-displayName: Setup Intents
- description: |-
    Payment Methods represent a customer's saved payment instrument (card, bank account, etc.). Attach, detach, and manage payment methods for customers.

    **Required Scopes:**
    - `payment_methods:read` - List and retrieve payment methods
    - `payment_methods:write` - Attach, detach, update payment methods
  name: Payment Methods
  x-displayName: Payment Methods
- description: |-
    Create shareable payment links for invoices, subscriptions, or custom amounts. Customers complete payment on a hosted page.

    **Required Scopes:**
    - `payment_links:read` - List and retrieve payment links
    - `payment_links:write` - Create and update payment links
  name: Payment Links
  x-displayName: Payment Links
- description: |-
    Create hosted checkout pages for one-time payments or subscription sign-ups. Redirect customers to RevKeen-hosted payment forms.

    **Required Scopes:**
    - `checkout:read` - List and retrieve sessions
    - `checkout:write` - Create checkout sessions
  name: Checkout Sessions
  x-displayName: Checkout Sessions
- description: |-
    Create one-time charges for existing customers. Use for setup fees, overages, or ad-hoc payments.

    **Required Scopes:**
    - `charges:read` - List and retrieve charges
    - `charges:write` - Create charges
  name: Charges
  x-displayName: Charges
- description: |-
    Payment objects represent completed or in-progress money movements. Use them to capture authorized funds, void pending authorizations, and retrieve transaction details across all payment channels (online, terminal, and recurring).

    **Required Scopes:**
    - `payments:read` - List and retrieve payments
    - `payments:write` - Capture, void payments

    **MCP Tools:** `payments_list`, `payments_get`, `payments_capture`, `payments_void`
  name: Payments
  x-displayName: Payments
- description: |-
    Invoices are the canonical record of what a customer owes or has paid. Every subscription cycle generates an invoice automatically, and you can also create one-off invoices for ad-hoc charges. Invoices progress through a lifecycle: `draft` → `open` → `finalized` → `paid`.

    **Required Scopes:**
    - `invoices:read` - List and retrieve invoices
    - `invoices:write` - Create, update, send, finalize invoices

    **MCP Tools:** `invoices_list`, `invoices_get`, `invoices_create`, `invoices_send`, `invoices_finalize`
  name: Invoices
  x-displayName: Invoices
- description: |-
    Subscriptions manage recurring billing cycles for your customers. Create subscriptions to automatically charge customers on a schedule, with support for trials, prorations, plan changes, and dunning for failed payments.

    **Required Scopes:**
    - `subscriptions:read` - List and retrieve subscriptions
    - `subscriptions:write` - Create, update, cancel subscriptions

    **MCP Tools:** `subscriptions_get`
  name: Subscriptions
  x-displayName: Subscriptions
- description: |-
    Schedule future changes to subscriptions. Define phases with different pricing, quantities, or plans that take effect at specified dates.

    **Required Scopes:**
    - `subscription_schedules:read` - List and retrieve schedules
    - `subscription_schedules:write` - Create, update, release schedules
  name: Subscription Schedules
  x-displayName: Subscription Schedules
- description: |-
    One-off purchases with lifecycle operations: create, pay, cancel, and fulfill.

    **Required Scopes:**
    - `orders:read` - List and retrieve orders
    - `orders:write` - Create, cancel, fulfill orders

    **MCP Tools:** `orders_list`, `orders_create`, `orders_cancel`, `orders_fulfill`
  name: Orders
  x-displayName: Orders
- description: |-
    Billing utilities let you preview upcoming charges and billing schedules before they execute. Use these endpoints to show customers what they will be charged and when, or to validate pricing changes before applying them.

    **Required Scopes:**
    - `billing:read` - Preview billing schedules
  name: Billing
  x-displayName: Billing Utilities
- description: |-
    Products represent the goods or services you sell. Each product can have multiple prices for different currencies, billing intervals, or pricing models. Products are used across subscriptions, one-off charges, and checkout sessions.

    **Required Scopes:**
    - `products:read` - List and retrieve products
    - `products:write` - Create, update, archive products
  name: Products
  x-displayName: Products
- description: |-
    Prices define how much and how often to charge for a product. A single product can have multiple prices — different currencies, billing intervals, or pricing tiers. Supports fixed-amount, pay-what-you-want, tiered, and free pricing models.

    **Required Scopes:**
    - `prices:read` - List and retrieve prices
    - `prices:write` - Create, update, archive prices
  name: Prices
  x-displayName: Prices
- description: |-
    Create discount codes for percentage or fixed amount off. Set usage limits and expiration dates.

    **Required Scopes:**
    - `discounts:read` - List and retrieve discounts
    - `discounts:write` - Create, update, delete discounts
  name: Discounts
  x-displayName: Discounts
- description: |-
    Configure manual tax rate overrides. Quaderno handles automatic tax calculation.

    **Required Scopes:**
    - `tax_rates:read` - List and retrieve tax rates
    - `tax_rates:write` - Create, update tax rates
  name: Tax Rates
  x-displayName: Tax Rates
- description: |-
    Customer objects represent the individuals or businesses you bill. Use them to store contact information, attach payment methods, and track billing history across subscriptions and one-off payments. Every charge, invoice, and subscription belongs to a customer.

    **Required Scopes:**
    - `customers:read` - List and retrieve customers
    - `customers:write` - Create, update, delete customers

    **MCP Tools:** `customers_list`, `customers_get`, `customers_create`, `customers_update`
  name: Customers
  x-displayName: Customers
- description: |-
    Entitlements grant customers access to features, benefits, or content tied to their subscription or purchase. Use these endpoints to list granted entitlements for a customer and to check whether a customer currently has access to a specific benefit.

    **Required Scopes:**
    - `entitlements:read` - List and check customer entitlements
  name: Entitlements
  x-displayName: Entitlements
- description: |-
    Refund objects represent money returned to a customer after a completed payment. You can issue full or partial refunds, and they automatically create a child transaction linked to the original payment for audit trail purposes.

    **Required Scopes:**
    - `refunds:read` - List and retrieve refunds
    - `refunds:write` - Create refunds

    **MCP Tools:** `refunds_create`
  name: Refunds
  x-displayName: Refunds
- description: |-
    Cancel unsettled transactions before gateway settlement. Voids are always for the full amount — no partial voids. If the transaction has already settled, use a refund instead.

    **Required Scopes:**
    - `voids:read` - List and retrieve voids
    - `voids:write` - Create voids
  name: Voids
  x-displayName: Voids
- description: |-
    Issue formal accounting corrections for paid or partially paid invoices. A credit note is the accounting document; a refund is the money movement. They are often created together.

    **Required Scopes:**
    - `credit_notes:read` - List and retrieve credit notes
    - `credit_notes:write` - Create and void credit notes
  name: Credit Notes
  x-displayName: Credit Notes
- description: |-
    Dispute objects represent a customer's challenge to a charge with their card issuer (a chargeback). When a dispute is opened, you can submit evidence to contest it or accept the dispute. RevKeen tracks the dispute lifecycle and notifies you via webhooks at each stage.

    **Required Scopes:**
    - `disputes:read` - List and retrieve disputes
    - `disputes:write` - Submit evidence, accept disputes
  name: Disputes
  x-displayName: Disputes
- description: |-
    Payout objects represent funds settled to your bank account from processed payments. Track settlement batches, reconcile amounts, and monitor payout timing across all payment gateways.

    **Required Scopes:**
    - `payouts:read` - List and retrieve payouts
  name: Payouts
  x-displayName: Payouts
- description: |-
    Event objects represent something that happened in your account — a payment succeeded, an invoice was created, a subscription was canceled. Events are the source of truth for webhook delivery. Use them to debug webhook issues, replay missed events, or build an audit trail.

    **Required Scopes:**
    - `events:read` - List and retrieve events
    - `events:write` - Resend webhook events
  name: Events
  x-displayName: Events
- description: |
    Receive real-time event notifications. Configure endpoints for payment events, invoice updates, and more.

    ## Signature Verification

    All webhooks include a signature in the `X-Revkeen-Signature` header for verification:

    ```
    X-Revkeen-Signature: t=1705689600,v1=abc123...
    ```

    **Node.js Example:**
    ```javascript
    const crypto = require('crypto');

    function verifyWebhook(payload, signature, secret) {
      const [timestamp, hash] = signature.split(',').map(s => s.split('=')[1]);
      const expectedHash = crypto
        .createHmac('sha256', secret)
        .update(`${timestamp}.${payload}`)
        .digest('hex');
      return crypto.timingSafeEqual(Buffer.from(hash), Buffer.from(expectedHash));
    }
    ```

    ## Event Types

    Events use dot notation: `{resource}.{action}`
    - `payment.succeeded`, `payment.failed`
    - `invoice.created`, `invoice.paid`, `invoice.overdue`
    - `subscription.created`, `subscription.canceled`, `subscription.renewed`
    - `customer.created`, `customer.updated`
    - `checkout.session.completed`, `checkout.session.expired`
    - `usage.threshold.reached`, `usage.period_finalized`, `usage.event.rejected`

    Use wildcards in endpoint configuration: `invoice.*` or `*` for all events.
  name: Webhooks
  x-displayName: Webhooks
- description: "Webhook endpoint objects let you register URLs that RevKeen will notify\
    \ when events occur in your account — payments, subscription changes, invoice\
    \ updates, and more. Each endpoint can subscribe to specific event types or use\
    \ wildcards to receive all events."
  name: Webhook Endpoints
  x-displayName: Webhook Endpoints
- description: |-
    Initiate and manage card-present payments via POS terminal devices. Send sale, refund, and void commands to PAX terminals through the RevKeen connector.

    **Required Scopes:**
    - `terminal:read` - List and retrieve terminal payments
    - `terminal:write` - Initiate, cancel, refund, void terminal payments

    **MCP Tools:** `terminal_payments_initiate`, `terminal_payments_list`, `terminal_payments_get`, `terminal_payments_cancel`, `terminal_payments_refund`, `terminal_payments_void`
  name: Terminal Payments
  x-displayName: Terminal Payments
- description: |-
    List and inspect terminal devices registered for your merchant account. Use this endpoint to discover device IDs before initiating terminal payments.

    **Required Scopes:**
    - `terminal:read` - List and retrieve terminal devices

    **MCP Tools:** `terminal_devices_list`, `terminal_devices_get`
  name: Terminal Devices
  x-displayName: Terminal Devices
- description: Track payment attempts across all gateways. Analyze retry patterns
    and failure reasons.
  name: Payment Attempts
  x-displayName: Payment Attempts
- description: "Sync data with external systems (PracticeHub, Wodify). Upsert by external\
    \ ID with timestamp-based conflict resolution."
  name: External Sync
  x-displayName: External Sync
- description: "Manage external integrations (PracticeHub, Wodify). List active integrations\
    \ and update status."
  name: Integrations
  x-displayName: Integrations
- description: Track sync progress for external integrations. Get and update sync
    state by resource type.
  name: Sync State
  x-displayName: Sync State
- description: |-
    Create and manage usage meters. Meters define how usage events are aggregated for billing. Attach prices to meters for automated usage-based invoicing.

    **Required Scopes:**
    - `prices:read` - List and retrieve meters and prices
    - `prices:write` - Create, update, archive meters and prices

    **MCP Tools:** `meters_list`, `meters_get`, `meters_create`, `meters_update`, `meters_create_price`, `meters_list_prices`, `meters_update_price`, `meters_deactivate_price`
  name: Meters
  x-displayName: Meters
- description: |-
    Ingest, query, and aggregate usage events. Events are matched to meters by event name or meter ID and streamed to ClickHouse for real-time aggregation.

    **Required Scopes:**
    - `usage:read` - Query events, aggregate usage
    - `usage:write` - Ingest events

    **MCP Tools:** `usage_events_ingest`, `usage_events_list`, `usage_events_aggregate`, `usage_events_dry_run`
  name: Usage Events
  x-displayName: Usage Events
- description: |-
    Query current-period usage balance with estimated costs per meter. Includes included allowance, overage, and margin data.

    **Required Scopes:**
    - `usage:read` - Get usage balance

    **MCP Tools:** `usage_balance_get`
  name: Usage
  x-displayName: Usage Balance
- description: |-
    Revenue analytics including MRR summaries, time-series data, accounts receivable aging, days sales outstanding (DSO), and customer lifetime value (LTV). Use these endpoints to build dashboards and financial reports.

    **Required Scopes:**
    - `analytics:read` - Access analytics endpoints
  name: Analytics
  x-displayName: Analytics
- description: |-
    Financial summaries and income reports. Get a high-level overview of your business finances including revenue, expenses, and net income.

    **Required Scopes:**
    - `finance:read` - Access finance endpoints
  name: Finance
  x-displayName: Finance
- description: |-
    Transactions represent all financial movements in the unified transaction model. This includes sales, refunds, voids, captures, disputes, and adjustments. Every transaction is linked to an invoice and child transactions reference their parent.

    **Required Scopes:**
    - `payments:read` - List and retrieve transactions
  name: Transactions
  x-displayName: Transactions
- description: |-
    Bulk data import jobs. Upload a CSV file to create customers, products, or invoices in bulk. Imports are processed asynchronously — poll `GET /v2/imports/:id` for progress and error details.

    **Required Scopes:**
    - `imports:read` - Check import status
    - `imports:write` - Create import jobs
  name: Imports
  x-displayName: Imports
- description: |-
    Bulk data export jobs. Generate CSV or XLSX files of customers, invoices, transactions, subscriptions, products, or payment methods. Exports are processed asynchronously — poll `GET /v2/exports/:id` for status and download URL.

    **Required Scopes:**
    - `exports:read` - Check export status
    - `exports:write` - Create export jobs
  name: Exports
  x-displayName: Exports
paths:
  /invoices:
    get:
      description: List invoices with pagination and filtering.
      operationId: invoices_list
      parameters:
      - description: Filter by invoice status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filter by invoice status
          type: string
        style: form
      - description: Filter by customer ID
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          description: Filter by customer ID
          type: string
        style: form
      - description: Maximum number of results (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Maximum number of results (1-100)
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of results to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of results to skip
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceListResponse"
          description: List of invoices
      summary: List invoices
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          // List all invoices
          const invoices = await rk.invoices.list();

          // Filter by status
          const openInvoices = await rk.invoices.list({
            status: 'open',
            limit: 10,
          });

          for (const invoice of openInvoices.data) {
            console.log(`${invoice.id}: ${invoice.total_minor / 100} ${invoice.currency}`);
          }
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          // List all invoices
          $invoices = $rk->invoices->list();

          // Filter by status
          $openInvoices = $rk->invoices->list([
              'status' => 'open',
              'limit' => 10,
          ]);

          foreach ($openInvoices->data as $invoice) {
              echo "{$invoice->id}: " . ($invoice->total_minor / 100) . " {$invoice->currency}\n";
          }
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          # List all invoices
          invoices = rk.invoices.list()

          # Filter by status
          open_invoices = rk.invoices.list(status="open", limit=10)

          for invoice in open_invoices.data:
              print(f"{invoice.id}: {invoice.total_minor / 100} {invoice.currency}")
      x-cli-group: invoices
      x-cli-name: list
    post:
      description: Create a new invoice.
      operationId: invoices_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoices_create_request"
        description: Invoice creation details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice created
      summary: Create invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          const invoice = await rk.invoices.create({
            customerId: 'cus_xxx',
            items: [
              {
                description: 'Premium Plan - Monthly',
                amount: 4999,
                quantity: 1,
              }
            ],
            currency: 'usd',
            dueDate: '2026-02-01',
            // Optional: set recurring billing schedule
            subscriptionTerms: {
              collectionMethod: 'charge_automatically',
              startMode: 'when_paid',
              durationType: 'until_cancelled',
              firstPaymentBehavior: 'charge_first_cycle_now',
            },
          });

          console.log(invoice.id); // inv_xxx
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          $invoice = $rk->invoices->create([
              'customer_id' => 'cus_xxx',
              'items' => [
                  [
                      'description' => 'Premium Plan - Monthly',
                      'amount' => 4999,
                      'quantity' => 1,
                  ]
              ],
              'currency' => 'usd',
              'due_date' => '2026-02-01',
              // Optional: set recurring billing schedule
              'subscription_terms' => [
                  'collection_method' => 'charge_automatically',
                  'start_mode' => 'when_paid',
                  'duration_type' => 'until_cancelled',
                  'first_payment_behavior' => 'charge_first_cycle_now',
              ],
          ]);

          echo $invoice->id; // inv_xxx
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          invoice = rk.invoices.create(
              customer_id="cus_xxx",
              items=[
                  {
                      "description": "Premium Plan - Monthly",
                      "amount": 4999,
                      "quantity": 1,
                  }
              ],
              currency="usd",
              due_date="2026-02-01",
              # Optional: set recurring billing schedule
              subscription_terms={
                  "collection_method": "charge_automatically",
                  "start_mode": "when_paid",
                  "duration_type": "until_cancelled",
                  "first_payment_behavior": "charge_first_cycle_now",
              },
          )

          print(invoice.id)  # inv_xxx
      x-cli-group: invoices
      x-cli-name: create
  /invoices/{id}:
    get:
      description: Get a single invoice by ID.
      operationId: invoices_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice details
      summary: Get invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          const invoice = await rk.invoices.get('inv_xxx');

          console.log(invoice.status);     // 'open'
          console.log(invoice.total_minor); // 4999
          console.log(invoice.currency);   // 'usd'
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          $invoice = $rk->invoices->get('inv_xxx');

          echo $invoice->status;      // 'open'
          echo $invoice->total_minor; // 4999
          echo $invoice->currency;    // 'usd'
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          invoice = rk.invoices.get("inv_xxx")

          print(invoice.status)      # 'open'
          print(invoice.total_minor) # 4999
          print(invoice.currency)    # 'usd'
      x-cli-group: invoices
      x-cli-name: retrieve
    patch:
      description: Update an existing invoice.
      operationId: invoices_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoices_update_request"
        description: Invoice update details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice updated
      summary: Update invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-cli-group: invoices
      x-cli-name: update
  /invoices/{id}/finalize:
    post:
      description: "Finalizes a draft invoice, locking it for payment. Assigns invoice\
        \ number and generates public token. After finalization, financial fields\
        \ become immutable."
      operationId: invoices_finalize
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoices_finalize_request"
        description: Finalization options
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice finalized successfully
        "400":
          description: Invoice cannot be finalized (not in draft status or missing
            line items)
        "404":
          description: Invoice not found
      summary: Finalize an invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          // Finalize a draft invoice (locks for payment)
          const invoice = await rk.invoices.finalize('inv_xxx');

          console.log(invoice.status); // 'open' (ready for payment)
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          // Finalize a draft invoice (locks for payment)
          $invoice = $rk->invoices->finalize('inv_xxx');

          echo $invoice->status; // 'open' (ready for payment)
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          # Finalize a draft invoice (locks for payment)
          invoice = rk.invoices.finalize("inv_xxx")

          print(invoice.status)  # 'open' (ready for payment)
      x-cli-group: invoices
      x-cli-name: finalize
  /invoices/{id}/void:
    post:
      description: Voids an invoice. Only invoices without recorded payments can be
        voided. Use refund instead for paid invoices.
      operationId: invoices_void
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoices_void_request"
        description: Void details
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice voided successfully
        "400":
          description: Invoice cannot be voided (has payments or already voided)
        "404":
          description: Invoice not found
      summary: Void an invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          // Void an unpaid invoice
          const invoice = await rk.invoices.void('inv_xxx');

          console.log(invoice.status); // 'void'
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          // Void an unpaid invoice
          $invoice = $rk->invoices->void('inv_xxx');

          echo $invoice->status; // 'void'
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          # Void an unpaid invoice
          invoice = rk.invoices.void("inv_xxx")

          print(invoice.status)  # 'void'
      x-cli-group: invoices
      x-cli-name: void
  /invoices/{id}/send:
    post:
      description: "Sends an invoice to the customer via the specified channel (email,\
        \ SMS, or WhatsApp). Invoice must be approved first."
      operationId: invoices_send
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoices_send_request"
        description: Send options
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
          description: Invoice sent successfully
        "400":
          description: Invoice cannot be sent (not approved or missing customer contact)
        "404":
          description: Invoice not found
      summary: Send an invoice
      tags:
      - Invoices
      x-fern-sdk-group-name:
      - invoices
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: |-
          import { RevKeen } from '@revkeen/sdk';

          const rk = new RevKeen({ apiKey: process.env.REVKEEN_API_KEY });

          // Send invoice via email to customer
          const invoice = await rk.invoices.send('inv_xxx');

          console.log('Invoice sent to:', invoice.customer_email);
      - lang: php
        label: PHP SDK
        source: |-
          <?php
          use RevKeen\Client;

          $rk = new Client(getenv('REVKEEN_API_KEY'));

          // Send invoice via email to customer
          $invoice = $rk->invoices->send('inv_xxx');

          echo 'Invoice sent to: ' . $invoice->customer_email;
      - lang: python
        label: Python SDK
        source: |-
          from revkeen import RevKeen
          import os

          rk = RevKeen(api_key=os.environ["REVKEEN_API_KEY"])

          # Send invoice via email to customer
          invoice = rk.invoices.send("inv_xxx")

          print(f"Invoice sent to: {invoice.customer_email}")
      x-cli-group: invoices
      x-cli-name: send
  /products:
    get:
      description: List products with pagination and optional search.
      operationId: products_list
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Page number
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of results (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Maximum number of results (1-100)
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Search term to filter products
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Search term to filter products
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
          description: List of products
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
      summary: List products
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      x-cli-group: products
      x-cli-name: list
    post:
      description: Create a new product. Requires 'products:write' scope.
      operationId: products_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
        description: Product creation details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCreateResponse"
          description: Product created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Validation error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
      summary: Create product
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      x-cli-group: products
      x-cli-name: create
  /products/{id}:
    get:
      description: Get a product by its ID. Requires 'products:read' scope.
      operationId: products_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductRetrieveResponse"
          description: Product details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Product not found
      summary: Get product by ID
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      x-cli-group: products
      x-cli-name: retrieve
    patch:
      description: Update an existing product. Requires 'products:write' scope.
      operationId: products_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: prod_123
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
        description: Product update details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductUpdateResponse"
          description: Product updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Validation error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Product not found
      summary: Update product
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      x-cli-group: products
      x-cli-name: update
  /products/external/{source}/{externalId}:
    put:
      description: Create or update a product by external system ID. Uses stale update
        protection.
      operationId: products_externalUpsert
      parameters:
      - description: "Integration source (e.g., practicehub, wodify)"
        explode: false
        in: path
        name: source
        required: true
        schema:
          description: "Integration source (e.g., practicehub, wodify)"
          example: practicehub
          type: string
        style: simple
      - description: External system's product ID
        explode: false
        in: path
        name: externalId
        required: true
        schema:
          description: External system's product ID
          example: prod_12345
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/products_externalUpsert_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_externalUpsert_200_response"
          description: Product upserted successfully
        "401":
          description: Unauthorized - invalid or missing API key
        "403":
          description: Forbidden - insufficient scopes
        "409":
          description: Conflict - stale update (external data is older than current)
      summary: Upsert product by external ID
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      - external
      x-cli-group: products
      x-cli-name: external-upsert
  /products/external/batch:
    put:
      description: Create or update multiple products by external system ID. Supports
        up to 100 products per request with stale update protection.
      operationId: products_externalBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/products_externalBatch_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_externalBatch_200_response"
          description: Batch upsert completed
        "400":
          description: Validation error - invalid request body
        "401":
          description: Unauthorized - invalid or missing API key
        "403":
          description: Forbidden - insufficient scopes
      summary: Batch upsert products by external ID
      tags:
      - Products
      x-fern-sdk-group-name:
      - products
      - external
      x-cli-group: products
      x-cli-name: external-batch
  /checkout-sessions:
    post:
      description: Create a checkout session for an invoice or product.
      operationId: checkoutSessions_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionInput"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionCreateResponse"
          description: Checkout session created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Not Found
      summary: Create a checkout session
      tags:
      - Checkout Sessions
      x-fern-sdk-group-name:
      - checkout
      - sessions
      x-cli-group: checkout-sessions
      x-cli-name: create
  /checkout-sessions/{id}:
    get:
      description: Retrieve a checkout session by its ID.
      operationId: checkoutSessions_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionRetrieveResponse"
          description: Checkout session retrieved
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Internal Server Error
      summary: Retrieve a checkout session
      tags:
      - Checkout Sessions
      x-fern-sdk-group-name:
      - checkout
      - sessions
      x-cli-group: checkout-sessions
      x-cli-name: retrieve
  /checkout-sessions/{id}/expire:
    post:
      description: Manually expire an open checkout session. Only sessions with status
        'open' or 'pending' and no active payment attempt can be expired.
      operationId: checkoutSessions_expire
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 550e8400-e29b-41d4-a716-446655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionExpireResponse"
          description: Session expired
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Conflict — session is not in an expirable state
      summary: Expire a checkout session
      tags:
      - Checkout Sessions
      x-fern-sdk-group-name:
      - checkout
      - sessions
      x-cli-group: checkout-sessions
      x-cli-name: expire
  /customers:
    get:
      description: Retrieve a paginated list of customers for the merchant
      operationId: customers_list
      parameters:
      - description: Maximum number of results (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Maximum number of results (1-100)
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of results to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of results to skip
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Search term to filter customers
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Search term to filter customers
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListResponse"
          description: List of customers
        "401":
          description: Unauthorized
      summary: List customers
      tags:
      - Customers
      x-fern-sdk-group-name:
      - customers
      x-cli-group: customers
      x-cli-name: list
    post:
      description: Create a new customer record in the merchant's account
      operationId: customers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customers_create_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCreateResponse"
          description: Customer created successfully
        "400":
          description: Validation error
        "401":
          description: Unauthorized
      summary: Create a new customer
      tags:
      - Customers
      x-fern-sdk-group-name:
      - customers
      x-cli-group: customers
      x-cli-name: create
  /customers/{id}:
    get:
      description: Retrieve detailed information about a specific customer
      operationId: customers_retrieve
      parameters:
      - description: Customer UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Customer UUID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerRetrieveResponse"
          description: Customer details
        "401":
          description: Unauthorized
        "404":
          description: Customer not found
      summary: Get customer by ID
      tags:
      - Customers
      x-fern-sdk-group-name:
      - customers
      x-cli-group: customers
      x-cli-name: retrieve
    patch:
      description: Update an existing customer's information
      operationId: customers_update
      parameters:
      - description: Customer UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Customer UUID
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customers_update_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerUpdateResponse"
          description: Customer updated successfully
        "401":
          description: Unauthorized
        "404":
          description: Customer not found
      summary: Update customer details
      tags:
      - Customers
      x-fern-sdk-group-name:
      - customers
      x-cli-group: customers
      x-cli-name: update
  /customers/{id}/payment-methods:
    get:
      description: Retrieve all payment methods for a customer
      operationId: customers_paymentMethods_list
      parameters:
      - description: Customer UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Customer UUID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethodsListResponse"
          description: Payment methods list
        "401":
          description: Unauthorized
        "404":
          description: Customer not found
      summary: Get customer payment methods
      tags:
      - Customers
      x-fern-sdk-group-name:
      - customers
      - paymentMethods
      x-cli-group: customers
      x-cli-name: payment-methods-list
  /subscriptions:
    get:
      description: Retrieve a paginated list of subscriptions with optional filters
      operationId: subscriptions_list
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Page number
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of results (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Maximum number of results (1-100)
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by subscription status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filter by subscription status
          enum:
          - active
          - canceled
          - past_due
          - trialing
          - paused
          - incomplete
          - incomplete_expired
          type: string
        style: form
      - description: Filter by customer UUID
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          description: Filter by customer UUID
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionListResponse"
          description: List of subscriptions
        "401":
          description: Unauthorized
      summary: List subscriptions
      tags:
      - Subscriptions
      x-fern-sdk-group-name:
      - subscriptions
      x-cli-group: subscriptions
      x-cli-name: list
    post:
      description: Create a new subscription for a customer
      operationId: subscriptions_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/subscriptions_create_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionCreateResponse"
          description: Subscription created successfully
        "400":
          description: Validation error
        "401":
          description: Unauthorized
      summary: Create a new subscription
      tags:
      - Subscriptions
      x-fern-sdk-group-name:
      - subscriptions
      x-cli-group: subscriptions
      x-cli-name: create
  /subscriptions/{id}:
    get:
      description: Retrieve detailed information about a specific subscription
      operationId: subscriptions_retrieve
      parameters:
      - description: Subscription UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Subscription UUID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionRetrieveResponse"
          description: Subscription details
        "401":
          description: Unauthorized
        "404":
          description: Subscription not found
      summary: Get subscription by ID
      tags:
      - Subscriptions
      x-fern-sdk-group-name:
      - subscriptions
      x-cli-group: subscriptions
      x-cli-name: retrieve
    patch:
      description: Update an existing subscription's properties
      operationId: subscriptions_update
      parameters:
      - description: Subscription UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Subscription UUID
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/subscriptions_update_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionUpdateResponse"
          description: Subscription updated successfully
        "401":
          description: Unauthorized
        "404":
          description: Subscription not found
      summary: Update subscription details
      tags:
      - Subscriptions
      x-fern-sdk-group-name:
      - subscriptions
      x-cli-group: subscriptions
      x-cli-name: update
  /subscriptions/{id}/cancel:
    post:
      description: |-
        Cancel a subscription either immediately or at the end of the current billing period.

        **Modes:**
        - `immediately`: Status set to "canceled", access revoked now
        - `period_end`: cancelAtPeriodEnd flag set, access continues until period end
      operationId: subscriptions_cancelSubscription
      parameters:
      - description: Subscription UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Subscription UUID
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelSubscriptionInput"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionCancelSubscriptionResponse"
          description: Subscription canceled or cancellation scheduled
        "400":
          description: Invalid subscription state for this operation
        "401":
          description: Unauthorized
        "404":
          description: Subscription not found
      summary: Cancel subscription
      tags:
      - Subscriptions
      x-fern-sdk-group-name:
      - subscriptions
      x-cli-group: subscriptions
      x-cli-name: cancel-subscription
  /analytics/revenue/mrr-summary:
    get:
      description: Get Monthly Recurring Revenue metrics and growth
      operationId: analytics_revenue_getMrrSummary
      parameters:
      - description: Calculate MRR as of this date (ISO 8601)
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          description: Calculate MRR as of this date (ISO 8601)
          example: 2024-01-31T23:59:59Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_revenue_getMrrSummary_200_response"
          description: MRR metrics
      summary: MRR Summary
      tags:
      - Analytics
      x-cli-group: analytics
      x-cli-name: revenue-get-mrr-summary
  /analytics/revenue/time-series:
    get:
      description: Get revenue data over time with configurable granularity
      operationId: analytics_revenue_getTimeSeries
      parameters:
      - description: Start date (ISO 8601)
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Start date (ISO 8601)
          example: 2024-01-01T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: End date (ISO 8601)
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: End date (ISO 8601)
          example: 2024-12-31T23:59:59Z
          format: date-time
          type: string
        style: form
      - description: Time granularity for data points
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: month
          description: Time granularity for data points
          enum:
          - day
          - week
          - month
          - quarter
          - year
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_revenue_getTimeSeries_200_response"
          description: Revenue time series data
      summary: Revenue Time Series
      tags:
      - Analytics
      x-cli-group: analytics
      x-cli-name: revenue-get-time-series
  /analytics/invoices/ar-aging:
    get:
      description: Returns Accounts Receivable aging buckets with invoice counts and
        amounts
      operationId: analytics_invoices_getArAging
      parameters:
      - description: Calculate aging as of this date (ISO 8601)
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          description: Calculate aging as of this date (ISO 8601)
          example: 2024-01-31T23:59:59Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_invoices_getArAging_200_response"
          description: A/R aging data
      summary: A/R Aging Report
      tags:
      - Analytics
      x-cli-group: analytics
      x-cli-name: invoices-get-ar-aging
  /analytics/collections/dso:
    get:
      description: Calculate DSO and collection health metrics
      operationId: analytics_collections_getDso
      parameters:
      - description: Start date (ISO 8601)
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: Start date (ISO 8601)
          example: 2024-01-01T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: End date (ISO 8601)
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: End date (ISO 8601)
          example: 2024-12-31T23:59:59Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_collections_getDso_200_response"
          description: DSO metrics
      summary: Days Sales Outstanding
      tags:
      - Analytics
      x-cli-group: analytics
      x-cli-name: collections-get-dso
  /analytics/customers/ltv:
    get:
      description: Calculate customer lifetime value metrics
      operationId: analytics_customers_getLtv
      parameters:
      - description: Number of top customers to return (1-100)
        explode: true
        in: query
        name: topN
        required: false
        schema:
          default: 10
          description: Number of top customers to return (1-100)
          example: 10
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_customers_getLtv_200_response"
          description: Customer LTV metrics
      summary: Customer LTV
      tags:
      - Analytics
      x-cli-group: analytics
      x-cli-name: customers-get-ltv
  /finance/income:
    get:
      description: Get income report for the authenticated merchant. Requires 'finance:read'
        scope.
      operationId: finance_getIncome
      parameters:
      - description: Start date
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          description: Start date
          example: 2024-01-01
          type: string
        style: form
      - description: End date
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          description: End date
          example: 2024-12-31
          type: string
        style: form
      - description: Group results by time period
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          default: day
          description: Group results by time period
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Filter by subscription UUID
        explode: true
        in: query
        name: subscription_id
        required: false
        schema:
          description: Filter by subscription UUID
          format: uuid
          type: string
        style: form
      - description: Filter by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filter by status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/finance_getIncome_200_response"
          description: Income report retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Server Error
      summary: Get income report
      tags:
      - Finance
      x-cli-group: finance
      x-cli-name: get-income
  /finance/summary:
    get:
      description: Get finance summary for the authenticated merchant. Requires 'finance:read'
        scope.
      operationId: finance_getSummary
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/finance_getSummary_200_response"
          description: Finance summary retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products_list_401_response"
          description: Server Error
      summary: Get finance summary
      tags:
      - Finance
      x-cli-group: finance
      x-cli-name: get-summary
  /refunds:
    get:
      description: Retrieve a paginated list of refunds with optional filters. Results
        are ordered by creation date (newest first).
      operationId: refunds_list
      parameters:
      - description: Filter by refund status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filter by refund status
          enum:
          - pending
          - processing
          - succeeded
          - failed
          - canceled
          type: string
        style: form
      - description: Filter by original payment ID
        explode: true
        in: query
        name: payment_id
        required: false
        schema:
          description: Filter by original payment ID
          format: uuid
          type: string
        style: form
      - description: "Filter by payment gateway (nmi, stripe, etc.)"
        explode: true
        in: query
        name: gateway
        required: false
        schema:
          description: "Filter by payment gateway (nmi, stripe, etc.)"
          type: string
        style: form
      - description: Filter by refund reason
        explode: true
        in: query
        name: reason
        required: false
        schema:
          description: Filter by refund reason
          enum:
          - customer_request
          - duplicate
          - fraudulent
          - product_not_received
          - product_unacceptable
          - subscription_canceled
          - other
          type: string
        style: form
      - description: ISO 8601 date - only refunds created after this date
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          description: ISO 8601 date - only refunds created after this date
          example: 2024-01-01T00:00:00Z
          type: string
        style: form
      - description: ISO 8601 date - only refunds created before this date
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          description: ISO 8601 date - only refunds created before this date
          example: 2024-12-31T23:59:59Z
          type: string
        style: form
      - description: Number of results to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Number of results to return (1-100)
          example: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Number of results to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Number of results to skip
          example: 0
          minimum: 0
          nullable: true
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundListResponse"
          description: List of refunds
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
      summary: List refunds
      tags:
      - Refunds
      x-fern-sdk-group-name:
      - refunds
      x-cli-group: refunds
      x-cli-name: list
    post:
      description: Initiate a refund for a payment. The refund will be processed through
        the original payment gateway.
      operationId: refunds_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRefundInput"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundCreateResponse"
          description: Refund created successfully
        "400":
          description: "Invalid request - payment not found, already fully refunded,\
            \ or invalid amount"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
      summary: Create a refund
      tags:
      - Refunds
      x-fern-sdk-group-name:
      - refunds
      x-cli-group: refunds
      x-cli-name: create
  /refunds/{id}:
    get:
      description: Retrieve a single refund by its public ID (ref_xxx) or internal
        UUID.
      operationId: refunds_retrieve
      parameters:
      - description: Refund public ID (ref_xxx) or UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Refund public ID (ref_xxx) or UUID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundRetrieveResponse"
          description: Refund details
        "401":
          description: Unauthorized
        "404":
          description: Refund not found
        "500":
          description: Internal server error
      summary: Get refund by ID
      tags:
      - Refunds
      x-fern-sdk-group-name:
      - refunds
      x-cli-group: refunds
      x-cli-name: retrieve
  /payment-links:
    get:
      description: List payment links for the authenticated merchant with pagination
        and filters
      operationId: listPaymentLinks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - active
          - expired
          - completed
          type: string
        style: form
      - explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - invoice
          - subscription
          - custom
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_200_response"
          description: Payment links retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Validation error in query parameters
        "401":
          description: Unauthorized - missing or invalid authentication
      summary: List payment links
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: list
    post:
      description: "Create a new payment link for invoices, subscriptions, or custom\
        \ amounts"
      operationId: createPaymentLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPaymentLink_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_200_response_data_inner"
          description: Payment link created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Validation error or invalid input
        "401":
          description: Unauthorized - missing or invalid authentication
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Conflict - payment link already exists
      summary: Create a new payment link
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: create
  /payment-links/{id}:
    get:
      description: Retrieve a payment link by its UUID or public_id
      operationId: getPaymentLink
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_200_response_data_inner"
          description: Payment link retrieved successfully
        "401":
          description: Unauthorized - missing or invalid authentication
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Get payment link by ID
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: get
  /payment-links/{id}/expire:
    post:
      description: "Mark a payment link as expired, preventing further use"
      operationId: expirePaymentLink
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/expirePaymentLink_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_200_response_data_inner"
          description: Payment link expired successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Validation error or payment link already expired
        "401":
          description: Unauthorized - missing or invalid authentication
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Expire a payment link
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: expire
  /payment-links/{id}/status:
    patch:
      description: "Change the status of a payment link. Active links accept payments,\
        \ inactive links are temporarily disabled, and archived links are permanently\
        \ disabled and cannot be reactivated."
      operationId: updatePaymentLinkStatus
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePaymentLinkStatus_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updatePaymentLinkStatus_200_response"
          description: Status updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: "Invalid status transition (e.g., trying to reactivate archived\
            \ link)"
        "401":
          description: Unauthorized - missing or invalid authentication
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Update payment link status
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: update
  /payment-links/{id}/deactivate:
    post:
      description: Temporarily disable a payment link. It can be reactivated later.
      operationId: deactivatePaymentLink
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updatePaymentLinkStatus_200_response"
          description: Payment link deactivated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Link is already archived and cannot be modified
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Deactivate a payment link
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: deactivate
  /payment-links/{id}/activate:
    post:
      description: Enable a payment link to accept payments. Cannot be used on archived
        links.
      operationId: activatePaymentLink
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updatePaymentLinkStatus_200_response"
          description: Payment link activated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Link is archived and cannot be reactivated
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Activate a payment link
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: activate
  /payment-links/{id}/archive:
    post:
      description: Permanently disable a payment link. This action cannot be undone.
      operationId: archivePaymentLink
      parameters:
      - description: Payment link UUID or public_id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Payment link UUID or public_id
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updatePaymentLinkStatus_200_response"
          description: Payment link archived
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_400_response"
          description: Payment link not found
      summary: Archive a payment link
      tags:
      - Payment Links
      x-cli-group: payment-links
      x-cli-name: archive
  /prices:
    get:
      description: List all prices for the authenticated merchant. Supports filtering
        and cursor-based pagination.
      operationId: prices_list
      parameters:
      - description: Filter by product ID
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          description: Filter by product ID
          format: uuid
          type: string
        style: form
      - description: Filter by price type
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: Filter by price type
          enum:
          - one_time
          - recurring
          type: string
        style: form
      - description: Filter by pricing model
        explode: true
        in: query
        name: pricing_model
        required: false
        schema:
          description: Filter by pricing model
          enum:
          - fixed
          - pay_what_you_want
          - free
          type: string
        style: form
      - description: Filter by active status
        explode: true
        in: query
        name: active
        required: false
        schema:
          description: Filter by active status
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Filter by currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Filter by currency
          maxLength: 3
          minLength: 3
          type: string
        style: form
      - description: Filter by lookup key
        explode: true
        in: query
        name: lookup_key
        required: false
        schema:
          description: Filter by lookup key
          type: string
        style: form
      - description: Number of results (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Number of results (1-100)
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Cursor for pagination (ID to start after)
        explode: true
        in: query
        name: starting_after
        required: false
        schema:
          description: Cursor for pagination (ID to start after)
          format: uuid
          type: string
        style: form
      - description: Cursor for pagination (ID to end before)
        explode: true
        in: query
        name: ending_before
        required: false
        schema:
          description: Cursor for pagination (ID to end before)
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceListResponse"
          description: List of prices
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Unauthorized
      summary: List prices
      tags:
      - Prices
      x-fern-sdk-group-name:
      - prices
      x-cli-group: prices
      x-cli-name: list
    post:
      description: "Creates a new price for a product. Supports fixed, pay-what-you-want,\
        \ and free pricing models."
      operationId: prices_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePriceRequest"
        description: Price creation details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
          description: Price created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Validation error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Product not found
      summary: Create a price
      tags:
      - Prices
      x-fern-sdk-group-name:
      - prices
      x-cli-group: prices
      x-cli-name: create
  /prices/{id}:
    delete:
      description: Archives a price by setting active to false. The price remains
        in the system but cannot be used for new purchases.
      operationId: prices_archive
      parameters:
      - description: Price ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Price ID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
          description: Price archived successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Price not found
      summary: Archive a price
      tags:
      - Prices
      x-fern-sdk-group-name:
      - prices
      x-cli-group: prices
      x-cli-name: archive
    get:
      description: Retrieves a price by its ID.
      operationId: prices_retrieve
      parameters:
      - description: Price ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Price ID
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
          description: Price details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Price not found
      summary: Retrieve a price
      tags:
      - Prices
      x-fern-sdk-group-name:
      - prices
      x-cli-group: prices
      x-cli-name: retrieve
    patch:
      description: "Updates a price. Only certain fields can be updated (active, nickname,\
        \ lookup_key, metadata). Core pricing fields are immutable."
      operationId: prices_update
      parameters:
      - description: Price ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Price ID
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePriceRequest"
        description: Price update details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
          description: Price updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Validation error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorResponse"
          description: Price not found
      summary: Update a price
      tags:
      - Prices
      x-fern-sdk-group-name:
      - prices
      x-cli-group: prices
      x-cli-name: update
  /webhook-endpoints:
    get:
      operationId: webhookEndpoints_list
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - enabled
          - disabled
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/webhookEndpoints_list_200_response"
          description: List of webhook endpoints
      tags:
      - Webhook Endpoints
      x-fern-sdk-group-name:
      - webhookEndpoints
      x-cli-group: webhook-endpoints
      x-cli-name: list
    post:
      operationId: webhookEndpoints_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/webhookEndpoints_create_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/webhookEndpoints_create_201_response"
          description: Created webhook endpoint
      tags:
      - Webhook Endpoints
      x-fern-sdk-group-name:
      - webhookEndpoints
      x-cli-group: webhook-endpoints
      x-cli-name: create
  /webhook-endpoints/{id}:
    delete:
      operationId: webhookEndpoints_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/webhookEndpoints_delete_200_response"
          description: Deleted webhook endpoint
      tags:
      - Webhook Endpoints
      x-fern-sdk-group-name:
      - webhookEndpoints
      x-cli-group: webhook-endpoints
[...]
